.btn {
  font-size: 1.1rem;
  border-radius: 0.75rem;
  padding: 0.15rem 1rem 0.1rem;
  background-color: transparent;
  cursor: pointer;
  transition: background-color, transform 0.4s;
  outline: 0;
  font-weight: 500;
  border: 2px solid #000;

  &:hover {
    background-color: $green;
    color: $white;
    border: 2px solid $green;
  }

  &:focus {
    background-color: $btn-focus;
    border: 2px solid $btn-focus;
    outline: 1px solid $btn-focus;
    color: $white;
  }

  &--back,
  &--upload,
  &--choose {
    width: 100%;
    position: relative;
    z-index: 1;
  }

  &--choose,
  &--upload {
    &:hover {
      z-index: 2;
    }
  }

  &--back {
    margin-bottom: 1rem;
  }

  &--create {
    border-radius: 0 0.75rem 0.75rem 0;
  }

  &--login {
    padding: 0.15rem 1rem;
    margin-top: 1rem;
  }
}
