.file {
  font-size: 1.25rem;
  width: 100%;
  margin-bottom: 2rem;

  &__head {
    color: $white;
    background-color: $green;
    font-weight: 600;
  }

  &__row,
  &__column {
    border: 1px solid $border;
    border-collapse: collapse;
    padding: 0.7rem 1rem 0.25rem;
    height: 3rem;
  }

  &__column:first-child {
    width: 20%;
  }

  &__column:last-child {
    width: 40%;
  }

  &__column {
    &--head{
      padding: 0.75rem 1rem 0.25rem;
    }
  }

  &__body-row {
    &:hover {
      background-color: $row-hover;
      cursor: pointer;
    }
  }

  &__body-row:nth-child(odd) {
    background-color: $odd-background;

    &:hover {
      background-color: $row-hover;
      cursor: pointer;
    }
  }

  .file-action {
    display: inline-block;
    margin-bottom: 0.3rem;
  }

  .file-action:first-child {
    margin-right: 2rem;
  }
}
