.file {
  font-size: 1.25rem;
  width: 100%;
  margin-bottom: 2rem;

  &__head {
    color: $white;
    background-color: $green;
    font-weight: 600;
  }

  &__row,
  &__column {
    border: 1px solid $border;
    border-collapse: collapse;
    padding: 0.7rem 1rem;
    vertical-align: middle;
  }

  &__column:first-child {
    width: 20%;
  }

  &__column:last-child {
    width: 40%;
  }

  &__body-row {
    &:hover {
      background-color: $row-hover;
      cursor: pointer;
    }
  }

  &__body-row:nth-child(odd) {
    background-color: $odd-background;

    &:hover {
      background-color: $row-hover;
      cursor: pointer;
    }
  }

  .file-action {
    display: inline-block;
  }

  .file-action:first-child {
    margin-right: 2rem;
  }
}

.reference {
  color: $green;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: $btn-focus;
  }
}
